* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #19A7CE;
    height: 100px;
    align-items: center;
}

header img {
    height: 75px;
}

nav ul {
    display: flex;
    list-style: none;
    color: black;
    gap: 20px;
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #19A7CE;
    height: 100px;
    align-items: center;
}

.p {
    font-size: 22px;
}


.container {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #B0DAFF;
}




.container img {
    height: 300px;
}

.container-text {
    width: 40%;
}

.redes ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 15px;

}